* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.header {
  display: flex;
  line-height: 2.2;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: white;
}

.header__title {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.header__activities {
  display: block;
  margin-left: 10px;
  margin-right: 20px;
}

.header__files {
  display: block;
}

.header__time {
  display: block;
  margin: 0 auto;
}

.header__icons {
  display: block;
  margin-top: 7px;
  margin-right: 10px;
}

.nav {
  box-sizing: border-box;
  padding: 5px;
  width: 60px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.7)
}

.nav__list {
  list-style: none;
}
.nav__list__item {
  padding: 3px;
  width: 80%;
  margin-left: 3px;
  margin-top: 10px;
}

.nav__img {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.nav__img:hover {
  -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: .4s;
}
.nav__burger {
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.bugrer__line {
  width: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.burger__point {
  width: 3px;
  height: 3px;
  background-color: white;
}
